/*Always styles.css*/
body{font:17px/1.5 "微软雅黑";margin:0;padding:0;background: #f9f9f9;}
.float-left{float: left;}
.float-right{float: right;}
.clear{clear: both;}
a, a:link, a:visited, a:active {
    color: #555555;
    text-decoration: none;
    word-wrap: break-word;
}
form{
  display: inline;
  margin: 0;
  padding: 0;
}
input[type="text"],
input[type="password"],
textarea{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  color: #A6A6A6;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  vertical-align: middle;
  background-color: white;
}
input,select,textarea{vertical-align: middle;outline: 0;}
label{cursor: pointer;}
img{
  border: none;
  vertical-align: middle;
}
p{
  line-height: 1.5;
  margin: 5px 0 10px 0;
  padding: 0;
}
.avatar,.comment-avatar,.member-avatar{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.avatar img,.comment-avatar img{
  max-width: 100%;
  max-height: 48px;
  border-radius: 50%;
}
.main-box{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #FFF;
}
/*navs*/
#header{
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #ccc;
}
.mob-nav{display: none;}
.nav-bar{
  width: 960px;
  height: 58px;
  margin: 0 auto;
}
.logo{
  padding: 0;
  margin-top: 5px;
  width: 5%;
  float: left;
}
.buttons{
  float: left;
  line-height: 2;
  white-space: nowrap;
  width: 900px;
  height: 58px;
  overflow: hidden;
}
.buttons a:link,
.buttons a:visited{
  position: relative;
  float: right;
  margin: 0 4px;
  height: 57px;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  display: block;
  padding: 12px 16px;
  color: #999;
  text-decoration: none;
}
.buttons a.recom:link,
.buttons a.recom:visited{
  float: left;
}
.buttons a:hover{
  color: #df846c;
  border-bottom: 2px solid #999;
}
.buttons a.recom:hover{
  border: none;
  background: #f2f2f2;
}
.buttons a.current{
  border-bottom: 2px solid #999;
  color: #df846c;
}
.buttons .searchbox{
  float: left;
  width: 360px;
  margin: 0 4px;
}
.searchbox input{
  float: left;
  color: #999;
  height: 20px;
  font-size: 14px;
  background: #f9f9f9;
  margin: 23px 0 14px 0;
  padding: 2px 0 2px 5px;
  width: 240px;
  border: none;
  border-left: 2px solid #ccc;
  outline: none;
}
.searchbox button{
  border: none;
  color: #999;
  width: 50px;
  font-size: 18px;
  outline: none;
  background: #f9f9f9;
  margin: 13px 0 4px 0;
  padding: 2px 0 4px 0;
}
.searchbox button:hover{
  color: #df846c;
  border-bottom: 2px solid #999;
}

#mob-search{display: none;}

/*content*/
/*banns*/
#content{
  width: 960px;
  margin: 30px auto 20px auto;
}
.main-content{
  width: 670px;
  float: left;
}
.banns{
  display: none;
  font-size: 15px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.banns-title{
  background: #ECECEC;
  padding: 10px;
  font-size: 12px;
  color: #474846;
}
.banns-content{
  padding: 10px;
}

/*post list*/
/*.main-list{
  border-bottom: 1px solid #E2E2E9;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}*/
.post-box{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-top: none;
}
.post-list{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.avatar{
  width: 9.5%;
  height: 60px;
  float: left;
}
.novel-content{
  width: 83%;
  min-height: 60px;
  margin: 0 0 7px 10px;
  float: left;
}
.novel-content h2 a:link,.novel-content h2 a:visited{
  color: #333;
}
.novel-content h2 a:hover{color:#51aded;}
/*.arrow{
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: top;
  content: "";
  top: 6px;
  right: -4px;
  border-left: 4px solid #51aded;
  border-top: 4ps solid transparent;
  border-bottom: 4px solid transparent;
}*/

.novel-tags a{
  display: inline;
  text-decoration: none;
  padding: 1px 4px;
  font-size: 12px;
  float: left;
  margin: 0 2px;
  color: #262626;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out;
}
.novel-content h2{
  line-height: 1.5;
  font-size: 16px;
  padding: 0 0 3px 0;
  margin: 0;
  min-height: 28px;
}
.novel-outline{
  color: #333;
  font-size: 13px;
}
.novel-count{
  margin-right: 10px;
  float: right;
  margin-top: 12px;
}

.novel-data{
  width: 100%;
  background: #f4f4f4;
  padding: 10px 10px 10px 20px;
  font-size: 12px;
  color: #999;
}
.novel-data a:link,.novel-data a:visited{
  color: #999;
}
.novel-data a:hover{
  color: #df846c;
}
.novel-data span{
  margin-right: 20px;
}

/*pagination*/
.pagination-box{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px 10px 10px 10px;
  background: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 2.5em;
}

.pagination-box a:hover,
.pagination-box a:active,
.current-page{
  background-color: #E5E5E5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.current-page{
  border: 1px solid #bfbfbf;
  padding: 4px 8px;
  margin: 0 2px;
  font-weight: bold;
}
.pagination-box a{
  padding: 4px 8px;
  margin: 0 2px;
  color: #444;
  border: 1px solid #BFBFBF;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*sider*/
.main-sider{
  float: right;
  width: 28%;
  font-size: 12px;
}
.sider-box{
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.sider-title{
  background: #ECECEC;
  padding: 10px;
  font-size: 12px;
  color: #474846;
}
.sider-content{
  padding: 10px;
}

/*侧边栏用户面板*/
.user-avatar{
  width: 128px;
  padding: 0 61px;
}
.user-avatar img{
  margin-top: 10px;
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}
.user-name{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}
.user-pannel ul{
  height: 42px !important;
  overflow: hidden !important;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
  list-style: none !important;
  font-size: 18px !important;
  display: block !important;
  clear: both !important;
}
.sider-content ul li {
  color: #999;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  list-style: none !important;
  line-height: 1.2em;
}
.user-pannel li {
  display: inline !important;
  float: left;
  width: 82px !important;
  text-align: center;
  border-right: 1px solid #d9d9d9;
  margin: 0 !important;
  padding: 0 !important;
  clear: none !important;
}
.user-pannel li.last {
  border: none;
}
.user-pannel li span {
  font-size: 12px !important;
  color: #808080;
}


/*chapter*/
/*chapter header*/
.chapter-box{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E9;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.chapter-header{margin-bottom: 10px;}
.chapter-title{
  float: left;
  max-width: 550px;
}
.chapter-title h1{
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  word-wrap: break-word;
}
.chapter-data{
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
.chapter-data i{margin-left: 10px;}
.chapter-data i.first-data{margin-left: 0}
.chapter-data a:link,.chapter-data a:visited{
  color: #999;
}
.chapter-data a:hover{
  color: #df846c;
}

.detail-avatar{
  width: 96px;
  height: 96px;
  float: right;
}
.detail-avatar img{
  max-width: 96px;
  max-height: 96px;
  border-radius: 50%;
}

/*chapter content*/
.chapter-content{
  word-wrap: break-word;
  font-size: 16px;
}
p{
  line-height: 1.5;
  margin: 5px 0 10px 0;
  padding: 0;
}

.chapter-bottom{
  color: #999;
  font-size: 15px;
  overflow: hidden;
  height: auto;
  border-top: 1px solid #999;
  margin-top: 15px;
  padding: 10px 10px 0 10px;
  text-align: left;
  font-weight: bold;
}

/*comment*/
.comment-header{
  background: #ECECEC;
  padding: 10px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  box-shadow: 2px 2px 5px #d3d6da;
}
.comment-box{
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E9;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.comment-list{
  width: 100%;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #EFEFEF;
}
.comment-item{
  padding: 0 10px 0 10px;
}
.comment-avatar{
  width: 9.5%;
  height: 60px;
  float: left;
}
.comment-data{
  float: left;
  width: 590px;
}
.comment-content{
  word-wrap: break-word;
  font-size: 16px;
  width: 590px;
}
.commenter{
  float: left;
  font-size: 14px !important;
  line-height: 20px;
  font-weight: bold;
}
.comment-time{
  float: right;
  font-size: 12px;
  line-height: 1.2em;
  color: #9E9E9E;
}


/*member info*/
.content-title{
  background: #ECECEC;
  padding: 10px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  box-shadow: 2px 2px 5px #d3d6da;
}
.member-box{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E9;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.member-avatar{
  float: left;
  margin: 10px;
  width: 148px;
}
.member-avatar img{
  border-radius: 4px;
  max-width: 128px;
  max-height: 128px;
  margin: 10px;
}
.member-detail{
  float: left;
  margin: 10px;
  max-width: 462px;
}
.member-detail p{
  word-break: break-all;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
}
.member-detail p a{
  color: #fff;
}
/*.member-btn{*/
  /*float: right;*/
  /*position: relative;*/
  /*margin: 10px;*/
  /*top: 0;*/
  /*right: 0;*/
  /*overflow: hidden;*/
  /*height: auto;*/
/*}*/

/*to top button*/
#go-to-top{
  display: none;
  position: fixed;
  width: 50px;
  bottom: 50px;
  padding: 15px 10px;
  color: #666;
  background: #ECECEC;
  font: 24px/12px Helvetica,Arial,Verdana;
  opacity: 0.7;
  outline: 0 none;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #DDD;
  vertical-align: baseline;
  border-radius: 2px;
}

/*footer*/
#footer{
  min-width: 50%;
  margin: auto;
  padding: 0;
  text-align: center;
}
#footer p{
  font-size: 12px;
}

/*login form*/
.input-box{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E9;
  background: #fff;
  box-shadow: 2px 2px 5px #d3d6da;
}
.tlg{
  font-size: 14px !important;
  line-height: 20px;
}
.tlg td{
  padding: 10px 10px 5px 10px;
}
.input1{width: 200px;}
/*.nknameInput{
  color: #db4437 !important;
  margin-bottom: 0 !important;
  border-bottom: 2px solid #db4437 !important;
}*/
#verification-img{
  display: none;
}
input.lgbtn{
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #D6D7D7;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  padding: 4px 20px;
  font-size: 13px;
  line-height: 18px;
  user-select: none;
  text-shadow: none;
}
input.lgbtn:hover{
  background: #60aef1;
}


/*资料设置*/
#user-setting{
  border-bottom: 1px solid #E2E2E9;
  box-shadow: 2px 2px 5px #d3d6da;
}
#user-setting ul.tabs-list{
  margin: 0;
  padding: 0;

}
#user-setting .settings-title{
  background: #ECECEC;
}
ul.tabs-list li{
  font-size: 14px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: #222;
  display: inline-block;
  padding: 12px 16px;
  margin: 0 24px 0 0;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}
.tab-active,.tab-item:hover{
  border-bottom: 3px solid #df846c !important;
}
.tabs-container{
  padding: 10px;
  margin-bottom: 20px;

  background: #FFF;
  clear: left;
  font-size: 14px;
}

.tab-content{
  display: none;
  padding: 15px 0;
}
.tab-content-active{
  display: block;
}
p.red{
  color: #E51C23;
  text-align: center;
}
.tset{
  font-size: 14px !important;
  line-height: 20px;
}
.tset td{
  padding: 10px 10px 5px 10px;
}
.tset textarea{
  height: 150px;
  width: 300px;
}
input.tset-btn{
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #D6D7D7;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  padding: 4px 20px;
  font-size: 13px;
  line-height: 18px;
  user-select: none;
  text-shadow: none;
}
input.tset-btn:hover{
  background: #60aef1;
}
