<!DOCTYPE html>
<html>
    <head>
      {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{%if title%}{{title}} - Always{%else%}Always{%endif%}</title>
      <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='css/mystyles.css')}}" rel="stylesheet">
      <link media="(max-width: 960px)" href="{{url_for('static',filename='css/mobile.css')}}" rel="stylesheet">
      {% endblock %}
    </head>
  <body>
    <div id="header">
    	<div class="nav">
          <div class="nav-bar">
    		<div class="logo">
              <a href="#">
                <img src="{{url_for('static',filename='images/Y.png')}}" width="45px" height="45px" alt="logo">
              </a>
            </div>
            <div class="buttons">
              <a href="#" class="recom">推荐</a>
              <div class="searchbox">
                <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
                <button><span class="glyphicon glyphicon-search"></span></button>
              </div>
              <a href="#" class>关于</a>
              {% if current_user.is_authenticated %}
              <a href="{{url_for('main.creation')}}" class>创作</a>
              <a href="#" class>消息</a>
              {% else %}
              <a href="{{url_for('auth.register')}}" class>注册</a>
              <a href="{{url_for('auth.login')}}" class>登录</a>
              {% endif %}
              <a href="{{url_for('main.index')}}" class="current">首页</a>
            </div>
          </div>
        </div>
      <!-- 移动端导航 -->
      <div class="mob-nav">
        <a href="#"><h1 class="nav-title">Always</h1></a>
        <a class="menu-btn"><i class="glyphicon glyphicon-th-list"></i></a>
        {% if current_user.is_authenticated %}
        <a class="user-btn" href="{{url_for('main.user',nickname=current_user.nickname)}}"><i class="glyphicon glyphicon-user"></i></a>
        {% endif %}
        <nav id="menu">
          <div class="menu-list">
            <ul class="list">
              <li class><a href="#"><i class="glyphicon glyphicon-search"></i> &nbsp;&nbsp;&nbsp;搜索</a></li>
              <li class><a href="#"><i class="glyphicon glyphicon-fire"></i> &nbsp;&nbsp;&nbsp;推荐</a></li>
              <li class><a href="{{url_for('main.index')}}"><i class="glyphicon glyphicon-home"></i> &nbsp;&nbsp;&nbsp;首页</a></li>
              {% if current_user.is_authenticated %}
              <li class><a href="#"><i class="glyphicon glyphicon-comment"></i> &nbsp;&nbsp;&nbsp;消息</a></li>
              <li class><a href="{{url_for('main.creation')}}"><i class="glyphicon glyphicon-pencil"></i> &nbsp;&nbsp;&nbsp;创作</a></li>
              {% else %}
              <li class><a href="{{url_for('auth.login')}}"><i class="glyphicon glyphicon-log-in"></i> &nbsp;&nbsp;&nbsp;登录</a></li>
              <li class><a href="{{url_for('auth.register')}}"><i class="glyphicon glyphicon-plus"></i> &nbsp;&nbsp;&nbsp;注册</a></li>
              {% endif %}
              <li class><a href="#"><i class="glyphicon glyphicon-asterisk"></i> &nbsp;&nbsp;&nbsp;关于</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- 移动端搜索框 -->
    <div id="mob-search">
      <header>Search</header>
      <div>
        <input type="text" id="search-mobinput">
      </div>
      <footer>
        <a href="#" class="button" id="cancel"> 取 消 </a>
        <a href="#" class="button" id="action">确定</a>
        <div style="clear:both"></div>
      </footer>
    </div>
    <div id="content">
      <!-- 主栏 -->
      <div class="main-content">
        <div class="banns">
          <div class="banns-title">
            网站公告
          </div>
          <div class="banns-content">
            <article>啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊</article>
          </div>
        </div>
        <p class="message">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
              <strong>{{ message }}</strong>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </p>
        {% block content %}

        {% endblock %}

      </div>

      <!-- 侧栏 -->
      <div class="main-sider">
        <div class="sider-box">
          <div class="sider-title">网站公告</div>
          <div class="sider-content">
            这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。
          </div>
        </div>
        {% block sider %}
        <!-- 用户面板信息 -->
        {% if current_user.is_authenticated %}
        <div class="sider-box">
          <div class="sider-title">{{ current_user.nickname }}
            <span class="float-right"><a href="{{url_for('auth.logout')}}">登出</a></span>
          </div>
          <div class="sider-content">
            <div class="user-avatar">
              <a href="{{url_for('main.user',nickname=current_user.nickname)}}"><img src="{{ url_for('static',filename='images/me.png') }}" alt="{{ current_user.nickname }}"></a>
            </div>
            <div class="user-pannel">
              <div class="user-name">
                <a href="{{url_for('main.user',nickname=current_user.nickname)}}">{{current_user.nickname}}</a>
              </div>
              <ul>
                <li>
                  <a href="#">
                    <strong>2</strong><br>
                    <span>我的创作</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <strong>2</strong><br>
                    <span>我的话题</span>
                  </a>
                </li>
                <li class="last">
                  <a href="#">
                    <strong>2</strong><br>
                    <span>我的关注</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        {% endif %}
        <div class="sider-box">
          <div class="sider-title">侧栏标题</div>
          <div class="sider-content">
            侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。
          </div>
        </div>
        {% endblock %}
      </div>

      <!-- 侧边按钮 -->
      <a id="go-to-top" rel="nofollow" href="#top">▲</a>
      <div class="clear"></div>
      <!-- 页脚 -->
      <div id="footer">
        <p>
           COPYRIGHT 2017 <a href="#">Always</a>. ALL RIGHTS RESERVED.<br>
            POWERED BY <a href="#">always</a>
        </p>
      </div>
    </div>

    {% block script %}
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/always.js')}}"></script>
    {% endblock %}
  </body>
</html>
