<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>index</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/mystyles.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/always.js')}}"></script>
    </head>
  <body>
    <div id="header">
    	<div class="nav-bar">
    		<div class="logo">
          <a href="#">
            <img src="{{url_for('static', filename='images/Y.png')}}" width="45px" height="45px" alt="logo">
          </a>
        </div>
        <div class="buttons">
          <a href="#" class="recom">推荐</a>
          <div class="searchbox">
            <input type="text" id="searchInput" placeholder="Search" autocomplete="off">
            <button><span class="glyphicon glyphicon-search"></span></button>
          </div>
          <a href="#" class>关于</a>
          <a href="#" class>登录</a>
          <a href="#" class>消息</a>
          <a href="#" class="current">首页</a>
        </div>
    	</div>
    </div>
    <div id="content">
      <div class="main-content">
        <!-- <div class="banns">
          <div class="banns-title">
            网站公告
          </div>
          <div class="banns-content">
            <article>啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊</article>
          </div>
        </div> -->
        <div class="post-box">
          <div class="post-list">
            <div class="avatar">
              <a href="#">
                <img src="{{url_for('static', filename='images/me.png')}}" alt="ava">
              </a>
            </div>
            <div class="novel-content">
              <h2>
                <a href="#">业道</a>
              </h2>
              <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
              <span class="novel-outline">
                讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
              </span>
            </div>
            <div class="novel-count">
              <a href="#">5</a>
            </div>

            <div class="clear"></div>
          </div>
          <div class="novel-data">
            <span class="archive">
              <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
            </span>
            <span class="time">
              <i class="glyphicon glyphicon-time"></i> 2017-08-20
            </span>
            <span class="tags">
              <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
            </span>
            <span class="view">
              <i class="glyphicon glyphicon-eye-open"></i> 2.2k views
            </span>
            <span class="like">
              <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
            </span>
            <span class="comment">
              <i class="glyphicon glyphicon-comment"></i> <a href="#">1.0k comments</a>
            </span>
          </div>
        </div>


        <div class="post-box">
          <div class="post-list">
            <div class="avatar">
              <a href="#">
                <img src="{{url_for('static', filename='images/me.png')}}" alt="ava">
              </a>
            </div>
            <div class="novel-content">

              <h2><a href="#">业道</a></h2>
              <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
              <span class="novel-outline">
                讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
              </span>
            </div>
            <div class="novel-count">
              <a href="#">5</a>
            </div>

            <div class="clear"></div>
          </div>
          <div class="novel-data">
            <span class="archive">
              <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
            </span>
            <span class="time">
              <i class="glyphicon glyphicon-time"></i> 2017-08-20
            </span>
            <span class="tags">
              <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
            </span>
            <span class="view">
              <i class="glyphicon glyphicon-eye-open"></i> 2.2k views
            </span>
            <span class="like">
              <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
            </span>
            <span class="comment">
              <i class="glyphicon glyphicon-comment"></i> <a href="#">1.0k comments</a>
            </span>
          </div>
        </div>

      </div>


      <div class="main-sider">
        <div class="sider-box">
          <div class="sider-title">网站公告</div>
          <div class="sider-content">
            这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。啊这儿是本网站的公告栏，这里需要有一些东西啊啊啊啊啊啊。
          </div>
        </div>

        <div class="sider-box">
          <div class="sider-title">侧栏标题</div>
          <div class="sider-content">
            侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。侧栏内容部分。
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
