{% extends "base.html" %}

{% block content %}
<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="post-box">
  <div class="post-list">
    <div class="avatar">
      <a href="#">
        <img src="{{url_for('static',filename='images/me.png')}}" alt="ava">
      </a>
    </div>
    <div class="novel-content">
      <h2>
        <a href="#">业道</a>
      </h2>
      <!-- <span class="novel-tags"><a href="#">都市</a></span> -->
      <span class="novel-outline">
        讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。讲述两个屌丝青年的荔枝故事。...
      </span>
    </div>
    <div class="novel-count">
      <a href="#">5</a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="novel-data">
    <span class="archive">
      <i class="glyphicon glyphicon-th-large"></i> <a href="#">长篇</a>
    </span>
    <span class="time">
      <i class="glyphicon glyphicon-time"></i> 2017-08-20
    </span>
    <span class="tags">
      <i class="glyphicon glyphicon-tags"></i> <a href="#">都市</a>、<a href="#">励志</a>
    </span>

    <span class="like">
      <i class="glyphicon glyphicon-thumbs-up"></i> <a href="#">2.2k like</a>
    </span>

  </div>
</div>

<div class="pagination-box">

  <!-- <div class="float-left">
    <a href="#"><<上一页</a>
  </div> -->
  <span class="current-page">1</span>
  <a href="#">2</a>
  <div class="float-right">
    <a href="#">下一页>></a>
  </div>

  <div class="clear"></div>

</div>
{% endblock %}
