{% extends "base.html" %}

{% block content %}

<form action="" name="title" method="post">
  {{form.hidden_tag()}}
  <div class="title-box">
    {{form.title(id="title-input",placeholder="标题")}}<br>
    {% for error in form.title.errors %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
  </div>

    {{form.body(rows="18",cols="80")}}<br>
    {% for error in form.body.errors %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}

  <div class="tags-box">
    <div class="tags-btn">
        {{form.tag(id="tags-input",placeholder="添加文章标签(以英文逗号分隔)")}}
    </div>
    <div class="tags-list">
      <a class="tag">奇幻玄幻</a>
      <a class="tag">武侠仙侠</a>
      <a class="tag">都市言情</a>
      <a class="tag">历史军事</a>
      <a class="tag">科幻灵异</a>
      <a class="tag">网游竞技</a>
      <a class="tag">女频频道</a>

    </div>
    <hr>
    <div class="text-center">
        {{ form.submit(class="textbtn",value="发布") }}
        {{ form.save_draft(class="textbtn",value="保存草稿") }}
    </div>
    <div class="clear"></div>
  </div>
</form>
{% endblock %}


{% block script %}
{{super()}}
<script src="{{url_for('static', filename='tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script>
  tinymce.init({
    selector:'textarea',
    language:'zh_CN',
    toolbar: 'undo redo | styleselect | bold italic | link image'

  });
</script>
{% endblock %}