{% extends "base.html" %}

{% block content %}
<div class="content-title">
  <strong>登录</strong>
</div>
<div class="input-box">
  <form action="?" method="post" name="login">
    {{form.hidden_tag()}}
    <table cellpadding="5" cellspacing="8" border="0" width="100%" class="tlg">
      <tbody>
        <tr>
          <td width="180" align="right">邮箱</td>
          <td width="auto" align="left">
            {{form.email(id="nickname",class="input1 nknameInput")}}<br>
              {% for error in form.email.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}
          </td>
        </tr>
        <tr>
          <td width="180" align="right">密码</td>
          <td width="auto" align="left">
            {{form.password(class="input1")}}<br>
              {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
              {% endfor %}

          </td>
        </tr>
        <tr>
          <td width="180" align="right">记住我</td>
          <td width="auto" align="left">
            {{form.remember_me}}
          </td>
        </tr>
        <!--<tr>-->
          <!--<td width="180" align="right">验证码</td>-->
          <!--<td width="auto" align="left">-->
            <!--<label>-->
              <!--<input type="text" name="password" class="input1" placeholder="验证码">-->
            <!--</label>-->
            <!--<img src="#" id="verification-img" align="middle" alt="验证码">-->
          <!--</td>-->
        <!--</tr>-->
        <tr>
          <td width="180" align="right"></td>
          <td width="auto" align="left">
            <input type="submit" name="submit" class="lgbtn" value="登录">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">现在注册</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">忘记密码</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}